# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# SQLite database file
*.db

# Virtual environment
venv/

# Environment variables / secrets
.env

# VS Code settings
.vscode/

# Logs
*.log

# macOS system files
.DS_Store

# Frontend build cache
frontend/node_modules/
frontend/build/
frontend/dist/

# PyCharm project files
.idea/

# Ignore backups
*.bak
